$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

h1 {
    text-align: center;
    font-family: 'Gaegu', cursive;
    font-size: 55px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 3px solid black;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 5px;
    
}

.border {
    border: 3px solid #000;
    margin: 20px;
    padding: 20px;
    max-width: 618px;
    margin-left: auto;
    margin-right: auto;
  }

  h4 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Gaegu', cursive;

}

.btn-primary{
    margin-left: 0 auto;
    margin-right: 0 auto;
    max-width: 100%;
    font-family: 'Gaegu', cursive;
    background-color: #038b13;
    
}

.btn-secondary {
    margin-left: 0 auto;
    margin-right: 0 auto;
    max-width: 100%;
    font-family: 'Gaegu', cursive;
    background-color: #038b13;
    padding: 5px;
}

.wrapper{
    text-align: center;
}

.hidden {
    display: none;
  }

.modal-content{
    font-family: 'Gaegu', cursive;

}

.btn-primary-create {
    margin-left: 0 auto;
    margin-right: 0 auto;
    max-width: 100%;
    font-family: 'Gaegu', cursive;
    background-color: #038b13;
    text-align: center;
    color: #ffff;
    align-content: center;
}

.btn-primary-show {
    margin-left: 0 auto;
    margin-right: 0 auto;
    max-width: 100%;
    font-family: 'Gaegu', cursive;
    background-color: #038b13;
    text-align: center;
    color: #ffff;
    align-content: center;
}

.btn-primary-update {
    margin-left: 0 auto;
    margin-right: 0 auto;
    max-width: 100%;
    font-family: 'Gaegu', cursive;
    background-color: #038b13;
    text-align: center;
    color: #ffff;
    align-content: center;
}

.crud-buttons {
    margin-left: 0 auto;
    margin-right: 0 auto;
    text-align: center;
    padding: 5px;
}